<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <context-param>
        <param-name>resteasy.guice.modules</param-name>
        <param-value>
        com.nirvana.urlmap.guice.modules.LinkMapModule
        </param-value>
    </context-param>

    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.guice.GuiceResteasyBootstrapServletContextListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/*</url-pattern>
        
    </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MyTweets.html</welcome-file>
  </welcome-file-list><!--

   <security-constraint>
        <web-resource-collection>
        <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
	
   <security-constraint>
        <web-resource-collection>
        <url-pattern>/urltweet/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
       <security-constraint>
        <web-resource-collection>
        <url-pattern>/user/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
  
--></web-app>
